<ion-view view-title="Maps">
  <ion-content>
    <div id="map">
      <div class="bar bar-header item-input-inset top-sm margin-left-sm width-80-per">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchTerm.address">
        </label>
        <button class="button button-submit" ng-click="addressLookup()">
          Search
        </button>
      </div>
      <div class="bar bar-footer">
        <button class="button button-clear pull-right" ng-click="openMeetingsList()">
          <i class="icon ion-android-calendar placeholder-icon"></i>Meetings
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
