<ion-view view-title="Maps">
  <ion-content>
    <div id="map">
      <div class="bar bar-header item-input-inset" style="margin-left:10px;top:10px;width:85%;">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="searchTerm.address">
        </label>
        <button class="button button-submit" ng-click="addressLookup()">
          Search
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
<!--<div id="map" data-tap-disabled="true"></div>-->
<!-- <map zoom="15" style="width:100%;height:100%;" on-click="placeMarker()"></map>-->
<!--map-lazy-load="http://maps.google.com/maps/api/js" map-lazy-load-params="" data-tap-disabled="true"-->
