.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.input-label {
  padding: 0px 10px 0px 0px;
  max-width: 0px;
  width: 35%;
  color: #444;
  font-size: 11px;
}

.width-80-per {
  width: 80%;
}
.padding-top-md {
  padding-top: 50px
}

.top-sm {
  top:10px;
}

.margin-left-sm {
  margin-left:10px;
}

.product.modal {
  background: transparent;
}

/** FORCE THE MODAL */
.active .modal-backdrop-bg {
  opacity: 0.5;
}
.modal-backdrop-bg {
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  background-color: #000;
  opacity: 0;
}
